* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
body {
    background-color: rgb(22, 96, 165); ; 
    color: white;
}
header {
    width: 100%;
    margin: 0 auto;  
    background-color: white;
    padding: 20px 0;
}
header > h1 {
    text-align: center;
    color:  rgb(22, 96, 165); 
}
.scoring-area {
    text-align: center;
    margin: 20px auto;
    width: 200px;
    position: relative;
}
.score {
    font-size: 36px;
    padding: 24px 0;
    border: 4px solid white;
}
.score-name {
    color: white;
    background: red;
    position: absolute;
    top: 40px;
    font-size: 20px;
    padding: 0 8px; 
}
#user-score {
    left: -15px;
}
#comp-score {
    right: -20px;
}
.result-title {
    font-size: 36px;
    text-align: center;
    color: white;
    font-weight: 600;
}
.choices {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.choice {
    display: flex;
    padding: 36px;
    flex-direction: column;
}
.choice-image {
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;
}
.choice-text {
    font-weight: 600;
    padding-top: 16px; 
}
.instruction {
    font-size: 16px;
}

